<div class="headlinks">
   <a class="pi-link show-invisible" href="https://www.otsuka-us.com/media/static/Abilify-M-PI.pdf" target=""></a>
   <a class="ref-link show-invisible" data-target="23_hcp_projectable_cva"></a>
   <a class="abilify-bottom-logo show-invisible" href="https://abilifymaintenahcp.com" target=""></a>
   <a class="link-isi show-invisible" data-target="21_hcp_projectable_cva"></a>
</div>
