<div class="menu">
   <div class="menu-items">
      <ul>
         <li class="sz-profile">
            <a class="show-invisible" data-target="2_hcp_projectable_cva"></a>
         </li>
         <li class="12-week-sz-study">
            <a class="show-invisible" data-target="3_hcp_projectable_cva"></a>
         </li>
         <li class="12-week-sz-study">
            <a class="show-invisible" data-target="5_hcp_projectable_cva"></a>
         </li>
         <li class="sz-dosing">
            <a class="show-invisible" data-target="9_hcp_projectable_cva"></a>
         </li>
         <li class="bp-i-profile">
            <a class="show-invisible" data-target="11_hcp_projectable_cva"></a>
         </li>
         <li class="bp-i-maintenance">
            <a class="show-invisible" data-target="12_hcp_projectable_cva"></a>
         </li>
         <li class="bp-i-dosing">
            <a class="show-invisible" data-target="16_hcp_projectable_cva"></a>
         </li>
         <li class="clinical-safety">
            <a class="show-invisible" data-target="18_hcp_projectable_cva"></a>
         </li>
         <li class="isi">
            <a class="show-invisible" data-target="21_hcp_projectable_cva"></a>
         </li>
         <li class="summary">
            <a class="show-invisible" data-target="24_hcp_projectable_cva"></a>
         </li>
      </ul>
   </div>
</div>
